@model UBlogPress.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Blog.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Blog.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContentPost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContentPost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExceptPost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExceptPost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Published)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Published)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DtCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DtCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DtUpdated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DtUpdated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DtAutoPublish)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DtAutoPublish)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnabledComment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnabledComment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
