@model UBlogPress.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}


<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Email:</dt>
        <dd>
            [
            @Html.ActionLink("Change your email", "ChangeEmail")
            ]
        </dd>
        <dt>Blog name:</dt>
        <dd>
            [
            @Html.ActionLink("Change your Blog name", "ChangeBlogname")
            ]
        </dd>
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt>Account:</dt>
        <dd>
            [
            @Html.ActionLink("Delete your account", "Delete")
            ]
        </dd>

    </dl>
</div>
