@{
    Layout = "";
    ViewBag.Title = "Home Page";
}



<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - UBlogPress</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container body-content">
        <div>
            <img id="bigLogo" src="../Content/Images/logo.png" />
        </div>
        <div class="action_buttons">
            <a href="/Account/Register"><button class="btn">Register</button></a>
            <a href="Account/Login"><button class="btn">Login</button></a>
        </div>
        <div class="form-group">
            <form id="home_search_bar" action="!!!search!!!">
                <input type="text" class="form-control" id="search_input" placeholder="Search blogs" />
                <button type="submit" class="btn" id="search_button"><span class="glyphicon glyphicon-search"></span></button>
            </form>
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - UBlogPress</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    
</body>
</html>


