@using System.Data.Entity
@model UBlogPress.Models.ApplicationUser

@{
    ViewBag.Title = "DisplayUser";
   
}

@if (Model == null)
{
    <h4>This user has not published any posts</h4>
}
else 
{ 
 <h1>Posts by @Model.NameDisplay</h1>
<h4>User since @Model.DtCreated</h4>
 <hr />

    foreach (var post in Model.Blog.Posts.Reverse())
    {
        <div class="post">
            <h1 class="post_title">@post.Title</h1>
            <h2 class="post_date">Last Updated: @post.DtUpdated</h2>
            <div class="post_content">
                @post.ContentPost
            </div>
            <div>
                @{
                 var link = "/Posts/Details/" + post.Id;
                    }
                <a href= @link><button class="btn view_comments_button"> View Comments </button></a>
            </div>
        </div>
    }
}
