@using System.Data.Entity
@model UBlogPress.Models.ApplicationUser

@{
    ViewBag.Title = "DisplayUser";
   
}

@if (Model == null)
{
    
}
else 
{ 
 <h4>@Model.NameDisplay</h4>
<h4>@Model.DtCreated</h4>


<table class="table">

    @foreach (var item in Model.Blog.Posts)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Blog.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContentPost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Published)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtUpdated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnabledComment)
            </td>
        </tr>
    }

</table>

}
