@using System.Data.Entity
@model UBlogPress.Models.ApplicationUser

@{
    ViewBag.Title = "DisplayUser";
   
}

@if (Model == null)
{
    
}
else 
{ 
 <h4>@Model.NameDisplay</h4>
<h4>@Model.DtCreated</h4>

    foreach (var post in Model.Blog.Posts)
    {
        <div>
            <h1>@post.Title</h1>
            <h2>@post.DtUpdated</h2>
            <div>
                @post.ContentPost
            </div>
            <div>
                @{
        var link = "/Posts/Details/" + post.Id;
                    }
                <a href= @link> "details" </a>
            </div>
        </div>
    }
}
